@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

.game {
  margin: auto;
  width: 900px;
  height: 100vh;
}

.x-o {
  position: relative;
  margin: auto;
  padding: 0 0 55px 0;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 80px;
  font-family: 'Raleway';
  font-weight: 700;
}

.prince-slash {
  font-family: 'Rubik';
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.block-o {
  text-align: right;
}

.field-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.playing-field {
  margin: auto;
  background: #008f5f;
  width: 340px;
  height: 340px;
}

.playing-field .playing-field-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.playing-field .playing-field-three__item {
  width: 100px;
  height: 100px;
  padding: 0;
  border: 0;
}

.new-game {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
