@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Sans";
    margin: 0;
    padding: 0;
    background: #1d1d1d;
    overflow-y: scroll;
}

.lecture {
    color: #c9c9c9;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.lecture-button {
    text-align: center;
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 5px 0 5px 0;
    font-weight: 700;
    font-size: 24px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: #ffa600;
    color: #242424;
    transition: background-color 0.3s;
    cursor: pointer;
    &:hover,
    :focus {
        background-color: #ff7300;
    }
    span {
        display: block;
        padding: 12px 24px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        padding-top: 0;
        border-radius: 100%;
        background-color: rgba(236, 240, 241, 0.3);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    &:active:before {
        width: 120%;
        padding-top: 120%;
        transition: width 0.2s ease-out, padding-top 0.2s ease-out;
    }
    &::-webkit-details-marker {
        display: none;
    }
    &::-moz-list-bullet {
        list-style-type: none;
    }
    &::marker {
        display: none;
    }
}

.lesson {
    display: none;
    padding: 5px;
}

b,
i {
    color: #fdb768;
}

.exercise {
    position: relative;
    border: 1px solid #242424;
    text-align: center;
    padding: 10px;
    margin: 0 auto 20px auto;
    width: 700px;
    background: #242424;
    color: #ff8800;
}


.number {
    color: #fdd8ad;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: 700;
}

.number-six {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: 700;
    left: 15px;
    color: #411a00;
}

.ul,
.ol {
    display: inline-block;
    padding: 0 0 0 10px;
    margin: 0;
    max-width: 70%;
}

ol {
    display: inline-block;
    text-align: justify;
}

.border-bottom {
    padding: 0 0 10px 0;
    border-bottom: 3px dotted #fdb768;
}

.link {
    font-size: 20px;
    font-weight: 800;
    background: linear-gradient(to right, #ff6600, #ff6600 50%, #fdd8ad 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    &:hover {
        background-position: 0 100%;
    }
}

img {
    width: 700px;
}

.table {
    padding: 15px;
}

table {
    // width: 100%;
    width: auto;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #c9c9c9;
    letter-spacing: 1px;
    // font-size: 0.8rem;
}

td,
th {
    border: 1px solid #c9c9c9;
    padding: 10px 20px;
}

th {
    background-color: #ff8800;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #444444;
}

tr:nth-child(odd) td {
    background-color: #383838;
}

.right {
    padding: 10px 0;
    text-align: right;
}

.left {
    padding: 0;
    text-align: left;
}

.border {
    padding: 20px 0 0 0;
    width: 100%;
    border-bottom: 3px dotted #c9c9c9;
}

.sample {
    border: 4px dotted #000000;
    background: white;
    color: black;
}
.sample-one {
    margin: 0 0 20px 0;
}

.h1,
.h2 {
    color: blue;
    text-align: center;
    width: 400px;
}
.h1 {
    font-size: 20px;
}
.h2 {
    font-size: 15px;
}
.b {
    color: red;
}
.i {
    color: blue;
}

.p {
    padding-left: 8px;
    font: 16px/30px Arial;
    width: 400px;
    text-align: justify;
    text-indent: 40px;
}
.h1-h1 {
    color: red;
    text-align: center;
}
.p-p {
    font: 12px/25px Arial;
    width: 500px;
    text-align: justify;
    padding-left: 8px;
}
.ol-ol {
    display: block;
    color: red;
    text-align: left;
}
.b-b {
    color: red;
    font-size: 20px;
}

.h2-h2 {
    color: green;
}
.i-i {
    color: blue;
    font-weight: bold;
}
.ul-ul {
    
    font-style: italic;
    color: #924763;
    width: 500px;
    text-align: left;
}

ul {
    margin: 15px;
}
.underline {
    text-decoration: underline;
    font-size: 20px;
}
.line-through {
    text-decoration: line-through;
    font-size: 20px;
}
.overline {
    text-decoration: overline;
    font-size: 20px;
}

#d1{
    margin: auto;
    margin-bottom: 25px;
    width: 200px;
	height: 200px;
	border: 3px solid red;
    background:rgba(255, 166, 0, 0.151)
}
#d2{
    margin: auto;
    margin-bottom: 25px;
	width: 500px;
	height: 200px;
	border: 3px dotted blue;
    background:rgba(255, 166, 0, 0.151)
}

#d3{
    margin: auto;
    margin-bottom: 25px;
	width: 100px;
	height: 100px;
	border: 3px dashed green;
    background:rgba(255, 166, 0, 0.151)
}
#d4{
    margin: auto;
    margin-bottom: 25px;
	width: 500px;
	height: 200px;
	border-top: 3px solid blue;
	border-bottom: 3px solid red;
	border-left: 3px solid black;
	border-right: 3px solid green;
	border-radius: 20px;
    background:rgba(255, 166, 0, 0.151)
}
#d5{
    margin: auto;
    margin-bottom: 25px;
	width: 300px;
	height: 300px;
	border: 3px dashed green;
	border-radius: 10px 30px;
    background:rgba(255, 166, 0, 0.151)
}

#d6{
    margin: auto;
    margin-bottom: 25px;
	width: 300px;
	height: 300px;
	border: 3px dotted green;
	border-radius: 10px 30px 50px 70px;
    background:rgba(255, 166, 0, 0.151)
}

#d7{
    margin: auto;
    margin-bottom: 25px;
	width: 100px;
	height: 100px;
	border: 3px solid red;
	border-radius: 50px;
    background:rgba(255, 166, 0, 0.151)
}

.red-cube {
    margin: auto;
	background-color:  red;
	width: 300px;
	height: 100px;
}
.big-1 {
    padding: 15px;
    background: url('/img/1.jpg');
    // height:auto;
}

.big-1-p {
    color: rgb(255, 172, 95);
    text-align: justify;
    background:rgba(0, 0, 0, 0.6)
}
.div-for-p {
    margin: auto;
    width: 530px;
    // text-align: center;
}