@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

.game {
    margin: auto;
    width: 900px;
    height: 100vh;
    // background:rgb(221, 221, 221)
}

.x-o {
    position: relative;
    margin: auto;
    padding: 0 0 55px 0;
    width: 165px;
    display: flex;
    font-size: 80px;
    
    font-family: 'Raleway';
    font-weight: 700;
}
.prince-slash {
    font-family: 'Rubik';
}

.header {
    display: flex;
}
.header * {
    flex: 1;
}
.block-o {
    text-align: right;
}
.score-o {
}
.return-o {
}
.field-size {
    display: flex;
    flex: 1;
    text-align: center;
}
// .3-3 {
// }
// .5-5 {
// }
// .7-7 {
// }
.block-x {

}
.return-x {
}
.playing-field {
    margin: auto;
    background: rgb(0, 143, 95);
    width: 340px;
    height: 340px;
    .playing-field-three {
        // margin: auto;
        display: flex;
        position: relative;

    }
    .playing-field-three__item {
        // margin-left: 10px
        width: 100px;
        height: 100px;
        padding: 0;
        border: 0;
    }
}
.footer {
}
.new-game {
    width: fit-content;
    margin: auto;
}
